<a href="https://colab.research.google.com/github/pepesrz91/simulacion_2021_mcc/blob/main/Tarea4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn import preprocessing
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import statsmodels.api as sm
import numpy as np
import sklearn.utils as utils

from sklearn.metrics import mean_squared_error


encoder = preprocessing.LabelEncoder()

In [ ]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = utils.check_arrays(y_true, y_pred)

    ## Note: does not handle mix 1d representation
    #if _is_1d(y_true): 
    #    y_true, y_pred = _check_1d_array(y_true, y_pred)

    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

B) realizando transformación el punto A se encuentra más abajo después de haber llevado a cabo las transformaciones.

In [ ]:
col_names = ["TotalPageLikes", "Type", "Category", "PastMonth", "PostWeekDay", "PostHour", "Paid", "LifetimePostTotalReach","LifetimePostTotalImpressions", "LifeTimeEngagedUsers", "LifetimePostConsumers", "LifeTimePostConsumptions", "LPIPeopleWhohaveLikedPage",  "LPIPeopleWhoLikePage", "LifeTimePeopleEngagedWithPost", "Comment", "Likes", "Share", "TotalInteractions"]
data = pd.read_csv("/content/drive/MyDrive/Presentaciones/dataset_Facebook.csv", sep=";", skiprows=[0], names=col_names)
data.iloc[1:]

     TotalPageLikes    Type  Category  ...   Likes  Share  TotalInteractions
1            139441  Status         2  ...   130.0   29.0                164
2            139441   Photo         3  ...    66.0   14.0                 80
3            139441   Photo         2  ...  1572.0  147.0               1777
4            139441   Photo         2  ...   325.0   49.0                393
5            139441  Status         2  ...   152.0   33.0                186
..              ...     ...       ...  ...     ...    ...                ...
495           85093   Photo         3  ...    53.0   26.0                 84
496           81370   Photo         2  ...    53.0   22.0                 75
497           81370   Photo         1  ...    93.0   18.0                115
498           81370   Photo         3  ...    91.0   38.0                136
499           81370   Photo         2  ...    91.0   28.0                119

[499 rows x 19 columns]

In [ ]:
len(col_names)

19

In [ ]:
data.head()

   TotalPageLikes    Type  Category  ...   Likes  Share  TotalInteractions
0          139441   Photo         2  ...    79.0   17.0                100
1          139441  Status         2  ...   130.0   29.0                164
2          139441   Photo         3  ...    66.0   14.0                 80
3          139441   Photo         2  ...  1572.0  147.0               1777
4          139441   Photo         2  ...   325.0   49.0                393

[5 rows x 19 columns]

In [ ]:
data = data.dropna()

In [ ]:
data["Type"] = encoder.fit_transform(data['Type'].astype(str))
data.head()

   TotalPageLikes  Type  Category  ...   Likes  Share  TotalInteractions
0          139441     1         2  ...    79.0   17.0                100
1          139441     2         2  ...   130.0   29.0                164
2          139441     1         3  ...    66.0   14.0                 80
3          139441     1         2  ...  1572.0  147.0               1777
4          139441     1         2  ...   325.0   49.0                393

[5 rows x 19 columns]

In [ ]:
print(data.isna().sum())

TotalPageLikes                   0
Type                             0
Category                         0
PastMonth                        0
PostWeekDay                      0
PostHour                         0
Paid                             0
LifetimePostTotalReach           0
LifetimePostTotalImpressions     0
LifeTimeEngagedUsers             0
LifetimePostConsumers            0
LifeTimePostConsumptions         0
LPIPeopleWhohaveLikedPage        0
LPIPeopleWhoLikePage             0
LifeTimePeopleEngagedWithPost    0
Comment                          0
Likes                            0
Share                            0
TotalInteractions                0
dtype: int64

In [ ]:
normalized_data = preprocessing.normalize(data)
train_data = pd.DataFrame(normalized_data, columns=col_names)
train_data.head()

   TotalPageLikes      Type  Category  ...     Likes     Share  TotalInteractions
0        0.998825  0.000007  0.000014  ...  0.000566  0.000122           0.000716
1        0.983568  0.000014  0.000014  ...  0.000917  0.000205           0.001157
2        0.999096  0.000007  0.000021  ...  0.000473  0.000100           0.000573
3        0.751109  0.000005  0.000011  ...  0.008468  0.000792           0.009572
4        0.992683  0.000007  0.000014  ...  0.002314  0.000349           0.002798

[5 rows x 19 columns]

In [ ]:
data.head()

   TotalPageLikes  Type  Category  ...   Likes  Share  TotalInteractions
0          139441     1         2  ...    79.0   17.0                100
1          139441     2         2  ...   130.0   29.0                164
2          139441     1         3  ...    66.0   14.0                 80
3          139441     1         2  ...  1572.0  147.0               1777
4          139441     1         2  ...   325.0   49.0                393

[5 rows x 19 columns]

In [ ]:
X = train_data[["TotalPageLikes", "Type", "Category", "PastMonth", "PostWeekDay", "PostHour", "Paid", "LifetimePostTotalReach","LifetimePostTotalImpressions", "LifeTimeEngagedUsers", "LifetimePostConsumers", "LifeTimePostConsumptions", "LPIPeopleWhohaveLikedPage",  "LPIPeopleWhoLikePage", "LifeTimePeopleEngagedWithPost", "Comment", "Share", "TotalInteractions"]]
Y = train_data["Likes"]

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=10)

In [ ]:
X_train = sm.add_constant(X_train)
X_test = sm.add_constant(X_test)
print(X_train)

     const  TotalPageLikes      Type  ...   Comment     Share  TotalInteractions
163    1.0        0.980102  0.000007  ...  0.000058  0.000463           0.004031
228    1.0        0.971024  0.000015  ...  0.000044  0.000007           0.000155
107    1.0        0.979444  0.000014  ...  0.000122  0.000201           0.001705
347    1.0        0.993457  0.000009  ...  0.000034  0.000282           0.001732
231    1.0        0.973316  0.000015  ...  0.000022  0.000007           0.000126
..     ...             ...       ...  ...       ...       ...                ...
320    1.0        0.997660  0.000008  ...  0.000016  0.000049           0.000527
15     1.0        0.978129  0.000014  ...  0.000028  0.000127           0.000763
484    1.0        0.967249  0.000011  ...  0.000236  0.000900           0.004252
125    1.0        0.999917  0.000007  ...  0.000000  0.000007           0.000037
265    1.0        0.997516  0.000008  ...  0.000016  0.000031           0.000413

[396 rows x 19 columns]

A) Prueba de Shapiro-Wilk 

Es una prueba de normalidad. Si p-value es menor a .05 significa que la hipótesis falla y que nuestros datos no están normalizados. Con los resultados siguientes se comprueba que los datos están normalizados ya que su p'value es mayor a un alfa de 0.05

In [ ]:
stats.shapiro(train_data["Likes"])

(0.6482378244400024, 1.2067595853281703e-30)

In [ ]:
stats.shapiro(data["LifetimePostConsumers"])

(0.6203077435493469, 1.42813383014028e-31)

In [ ]:
stats.shapiro(data["LifeTimePeopleEngagedWithPost"])

(0.6745402812957764, 1.0220437007857194e-29)

# C)

In [ ]:

model_1 = sm.OLS(Y_train, X_train).fit()
print(model_1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Likes   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.166e+29
Date:                Mon, 13 Sep 2021   Prob (F-statistic):               0.00
Time:                        04:18:39   Log-Likelihood:                 14681.
No. Observations:                 396   AIC:                        -2.932e+04
Df Residuals:                     377   BIC:                        -2.925e+04
Df Model:                          18
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                         -1.279e-17   2.52e-17     -0.507      0.612   -6.24e-17    3.68e-17
TotalPageLikes                -1.236e-17   2.58e-17     -0.479      0.632   -6.31e-17    3.84e-17
Type                           2.665e-14   4.02e-13      0.066      0.947   -7.63e-13    8.16e-13
Category                      -1.776e-15   1.68e-13     -0.011      0.992   -3.33e-13    3.29e-13
PastMonth                      8.882e-16   6.97e-14      0.013      0.990   -1.36e-13    1.38e-13
PostWeekDay                    2.887e-15   6.21e-14      0.046      0.963   -1.19e-13    1.25e-13
PostHour                      -2.998e-15    2.9e-14     -0.103      0.918      -6e-14     5.4e-14
Paid                          -2.336e-13    2.9e-13     -0.804      0.422   -8.05e-13    3.37e-13
LifetimePostTotalReach         2.125e-17   3.38e-17      0.628      0.530   -4.52e-17    8.77e-17
LifetimePostTotalImpressions  -8.457e-18   1.97e-17     -0.430      0.667   -4.71e-17    3.02e-17
LifeTimeEngagedUsers           5.551e-16   4.71e-15      0.118      0.906    -8.7e-15    9.81e-15
LifetimePostConsumers           1.11e-16   4.72e-15      0.024      0.981   -9.16e-15    9.38e-15
LifeTimePostConsumptions      -3.166e-17   1.08e-16     -0.293      0.770   -2.44e-16    1.81e-16
LPIPeopleWhohaveLikedPage      4.445e-18   3.45e-17      0.129      0.898   -6.35e-17    7.24e-17
LPIPeopleWhoLikePage          -1.735e-17   9.23e-17     -0.188      0.851   -1.99e-16    1.64e-16
LifeTimePeopleEngagedWithPost  5.065e-16   6.21e-16      0.815      0.416   -7.15e-16    1.73e-15
Comment                          -1.0000   1.68e-14  -5.97e+13      0.000      -1.000      -1.000
Share                            -1.0000   1.43e-14  -7.02e+13      0.000      -1.000      -1.000
TotalInteractions                 1.0000   4.46e-15   2.24e+14      0.000       1.000       1.000
==============================================================================
Omnibus:                      225.047   Durbin-Watson:                   0.231
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1599.704
Skew:                          -2.383   Prob(JB):                         0.00
Kurtosis:                      11.616   Cond. No.                     5.66e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.66e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
## Prediction Formula
formula = ""
x = 1
for val in model_1.params:
  formula += f'{val}x{x} +'
  x += 1
print(formula)

-1.2793585635328952e-17x1 +-1.235990476633475e-17x2 +2.6645352591003757e-14x3 +-1.7763568394002505e-15x4 +8.881784197001252e-16x5 +2.886579864025407e-15x6 +-2.9976021664879227e-15x7 +-2.3359092438113294e-13x8 +2.1250362580715887e-17x9 +-8.456776945386935e-18x10 +5.551115123125783e-16x11 +1.1102230246251565e-16x12 +-3.165870343657673e-17x13 +4.445228907190568e-18x14 +-1.734723475976807e-17x15 +5.065392549852277e-16x16 +-0.9999999999999973x17 +-0.9999999999999998x18 +1.0x19 +

In [ ]:
predictions = model_1.predict(X_test) 
np.corrcoef(predictions, Y_test.T)

array([[1., 1.],
       [1., 1.]])

In [ ]:
SSE = np.sum(np.power(predictions - Y_test.values, 2), axis=0)
SSE

1.236913403517004e-31

In [ ]:
X = train_data[["Type", "Category", "PastMonth", "PostWeekDay", "PostHour", "Paid", "LifetimePostTotalReach","LifetimePostTotalImpressions", "LifeTimeEngagedUsers", "LifetimePostConsumers", "LifeTimePostConsumptions", "LPIPeopleWhohaveLikedPage",  "LPIPeopleWhoLikePage", "LifeTimePeopleEngagedWithPost", "Comment", "Share", "TotalInteractions"]]
Y = train_data["LifetimePostConsumers"]

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=10)

In [ ]:
X_train = sm.add_constant(X_train)
X_test = sm.add_constant(X_test)
print(X_train)

     const      Type  Category  ...   Comment     Share  TotalInteractions
163    1.0  0.000007  0.000022  ...  0.000058  0.000463           0.004031
228    1.0  0.000015  0.000015  ...  0.000044  0.000007           0.000155
107    1.0  0.000014  0.000014  ...  0.000122  0.000201           0.001705
347    1.0  0.000009  0.000026  ...  0.000034  0.000282           0.001732
231    1.0  0.000015  0.000015  ...  0.000022  0.000007           0.000126
..     ...       ...       ...  ...       ...       ...                ...
320    1.0  0.000008  0.000024  ...  0.000016  0.000049           0.000527
15     1.0  0.000014  0.000014  ...  0.000028  0.000127           0.000763
484    1.0  0.000011  0.000034  ...  0.000236  0.000900           0.004252
125    1.0  0.000007  0.000007  ...  0.000000  0.000007           0.000037
265    1.0  0.000008  0.000008  ...  0.000016  0.000031           0.000413

[396 rows x 18 columns]

In [ ]:
model_2 = sm.OLS(Y_train, X_train).fit()
print(model_2.summary())

                              OLS Regression Results
=================================================================================
Dep. Variable:     LifetimePostConsumers   R-squared:                       1.000
Model:                               OLS   Adj. R-squared:                  1.000
Method:                    Least Squares   F-statistic:                 7.379e+28
Date:                   Mon, 13 Sep 2021   Prob (F-statistic):               0.00
Time:                           04:18:59   Log-Likelihood:                 14017.
No. Observations:                    396   AIC:                        -2.800e+04
Df Residuals:                        378   BIC:                        -2.793e+04
Df Model:                             17
Covariance Type:               nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                          5.182e-17   3.92e-17      1.322      0.187   -2.53e-17    1.29e-16
Type                          -1.066e-12   2.13e-12     -0.501      0.616   -5.25e-12    3.11e-12
Category                        1.35e-13   8.95e-13      0.151      0.880   -1.62e-12    1.89e-12
PastMonth                      1.039e-13   3.54e-13      0.294      0.769   -5.92e-13       8e-13
PostWeekDay                    -3.02e-14   3.32e-13     -0.091      0.928   -6.83e-13    6.23e-13
PostHour                       1.776e-15   1.54e-13      0.012      0.991   -3.02e-13    3.05e-13
Paid                          -1.066e-13   1.54e-12     -0.069      0.945   -3.14e-12    2.93e-12
LifetimePostTotalReach        -5.963e-16   1.77e-16     -3.364      0.001   -9.45e-16   -2.48e-16
LifetimePostTotalImpressions   3.595e-16   8.73e-17      4.120      0.000    1.88e-16    5.31e-16
LifeTimeEngagedUsers           1.776e-15    2.5e-14      0.071      0.943   -4.73e-14    5.09e-14
LifetimePostConsumers             1.0000    2.5e-14      4e+13      0.000       1.000       1.000
LifeTimePostConsumptions       3.469e-17   5.78e-16      0.060      0.952    -1.1e-15    1.17e-15
LPIPeopleWhohaveLikedPage      -4.77e-18   1.44e-16     -0.033      0.974   -2.88e-16    2.78e-16
LPIPeopleWhoLikePage          -4.892e-16   4.11e-16     -1.190      0.235    -1.3e-15    3.19e-16
LifeTimePeopleEngagedWithPost   2.22e-16   3.32e-15      0.067      0.947   -6.31e-15    6.75e-15
Comment                                0   8.96e-14          0      1.000   -1.76e-13    1.76e-13
Share                         -4.441e-15   7.63e-14     -0.058      0.954   -1.54e-13    1.46e-13
TotalInteractions              2.665e-15   2.38e-14      0.112      0.911   -4.41e-14    4.94e-14
==============================================================================
Omnibus:                      185.072   Durbin-Watson:                   0.565
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2499.205
Skew:                          -1.613   Prob(JB):                         0.00
Kurtosis:                      14.877   Cond. No.                     4.12e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.12e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
## Prediction Formula
formula = ""
x = 1
for val in model_2.params:
  formula += f'{val}x{x} +'
  x += 1
print(formula)

5.182486384480711e-17x1 +-1.0658141036401503e-12x2 +1.3500311979441904e-13x3 +1.0391687510491465e-13x4 +-3.019806626980426e-14x5 +1.7763568394002505e-15x6 +-1.0658141036401503e-13x7 +-5.963111948670274e-16x8 +3.5952144039619327e-16x9 +1.7763568394002505e-15x10 +1.0000000000000067x11 +3.469446951953614e-17x12 +-4.7704895589362195e-18x13 +-4.891920202254596e-16x14 +2.220446049250313e-16x15 +0.0x16 +-4.440892098500626e-15x17 +2.6645352591003757e-15x18 +

In [ ]:
predictions = model_2.predict(X_test) 
np.corrcoef(predictions, Y_test.T)

array([[1., 1.],
       [1., 1.]])

In [ ]:
SSE = np.sum(np.power(predictions - Y_test.values, 2), axis=0)
SSE

1.236913403517004e-31

In [ ]:
X = train_data[["Type", "Category", "PastMonth", "PostWeekDay", "PostHour", "Paid", "LifetimePostTotalReach","LifetimePostTotalImpressions", "LifeTimeEngagedUsers", "LifetimePostConsumers", "LifeTimePostConsumptions", "LPIPeopleWhohaveLikedPage",  "LPIPeopleWhoLikePage", "LifeTimePeopleEngagedWithPost", "Comment", "Share", "TotalInteractions"]]
Y = train_data["LifeTimePeopleEngagedWithPost"]

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2,random_state=10)

In [ ]:
model_3 = sm.OLS(Y_train, X_train).fit()
print(model_3.summary())

                                      OLS Regression Results
==================================================================================================
Dep. Variable:     LifeTimePeopleEngagedWithPost   R-squared (uncentered):                   1.000
Model:                                       OLS   Adj. R-squared (uncentered):              1.000
Method:                            Least Squares   F-statistic:                          5.556e+29
Date:                           Mon, 13 Sep 2021   Prob (F-statistic):                        0.00
Time:                                   04:19:16   Log-Likelihood:                          14407.
No. Observations:                            396   AIC:                                 -2.878e+04
Df Residuals:                                379   BIC:                                 -2.871e+04
Df Model:                                     17
Covariance Type:                       nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Type                          -1.741e-13   7.66e-13     -0.227      0.820   -1.68e-12    1.33e-12
Category                      -2.238e-13   2.78e-13     -0.804      0.422   -7.71e-13    3.24e-13
PastMonth                       5.24e-14      8e-14      0.655      0.513   -1.05e-13     2.1e-13
PostWeekDay                    -6.75e-14   1.17e-13     -0.577      0.564   -2.98e-13    1.63e-13
PostHour                       2.753e-14   5.14e-14      0.535      0.593   -7.36e-14    1.29e-13
Paid                           1.883e-13   5.75e-13      0.328      0.743   -9.42e-13    1.32e-12
LifetimePostTotalReach        -2.776e-17   6.53e-17     -0.425      0.671   -1.56e-16    1.01e-16
LifetimePostTotalImpressions  -1.466e-16   3.23e-17     -4.540      0.000    -2.1e-16   -8.31e-17
LifeTimeEngagedUsers           3.109e-15   9.26e-15      0.336      0.737   -1.51e-14    2.13e-14
LifetimePostConsumers          -2.22e-15   9.27e-15     -0.240      0.811   -2.04e-14     1.6e-14
LifeTimePostConsumptions       1.561e-17   2.15e-16      0.073      0.942   -4.08e-16    4.39e-16
LPIPeopleWhohaveLikedPage     -2.732e-17   5.23e-17     -0.522      0.602    -1.3e-16    7.56e-17
LPIPeopleWhoLikePage           1.605e-17   1.53e-16      0.105      0.917   -2.85e-16    3.17e-16
LifeTimePeopleEngagedWithPost     1.0000   1.21e-15   8.29e+14      0.000       1.000       1.000
Comment                       -1.266e-14   3.34e-14     -0.379      0.705   -7.83e-14     5.3e-14
Share                          2.132e-14   2.84e-14      0.750      0.454   -3.46e-14    7.72e-14
TotalInteractions             -3.775e-15   8.85e-15     -0.426      0.670   -2.12e-14    1.36e-14
==============================================================================
Omnibus:                      168.705   Durbin-Watson:                   1.269
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              514.290
Skew:                           2.059   Prob(JB):                    2.10e-112
Kurtosis:                       6.771   Cond. No.                     1.18e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.18e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
## Prediction Formula
formula = ""
x = 1
for val in model_3.params:
  formula += f'{val}x{x} +'
  x += 1
print(formula)

-1.7408297026122455e-13x1 +-2.2382096176443156e-13x2 +5.240252676230739e-14x3 +-6.750155989720952e-14x4 +2.7533531010703882e-14x5 +1.8829382497642655e-13x6 +-2.7755575615628914e-17x7 +-1.465841337200402e-16x8 +3.1086244689504383e-15x9 +-2.220446049250313e-15x10 +1.5612511283791264e-17x11 +-2.7321894746634712e-17x12 +1.6046192152785466e-17x13 +0.9999999999999998x14 +-1.2656542480726785e-14x15 +2.1316282072803006e-14x16 +-3.774758283725532e-15x17 +

In [ ]:
predictions = model_3.predict(X_test) 
np.corrcoef(predictions, Y_test.T)

array([[1., 1.],
       [1., 1.]])

In [ ]:
SSE = np.sum(np.power(predictions - Y_test.values, 2), axis=0)
SSE

1.236913403517004e-31

D) Creo que los resultados de las pruebas no fueron los correctos. Todas las predicciones salen con un R-cuadrado y ajustado de 1. Por lo que me está arrojando falso positivo. Puede ser que haya una variable la cual le está dando los resultados de antemano al modelo.